body{
    font-family: 'Poppins', sans-serif;   
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width image{
    width: 20%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: palegreen;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 5px;
}